  footer {
    color: #fff;
    background-color: $color-dark-blue;
    margin-top: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    .nav-item {
      margin-right: 2rem;
    }
    .nav-link {
      color: white;
      font-size: 1rem;
      &:hover {
        color: white;
      }
    }
  }
  footer .navbar-expand .navbar-nav .nav-link,
  footer .navbar-nav .nav-item {
    padding: 0;
  }
  footer .navbar-nav a {
    font-size: 1rem;
  }
  footer .navbar {
    padding-left: 0;
  }
  #powered_by {
    padding-top: 0.25rem;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  }

  // Medium devices (tablets) and below: <= 992px
  @include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  }

  // Small devices (landscape phones) and below: <= 768px
  @include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  }

  // Extra small devices (portrait phones): <= 576px
  @include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  }
