body {
  min-height: 100vh;
  font-family: "myriad-pro-semi-condensed","Adobe Blank",Arial,Helvetica,sans-serif;
  font-family: Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
}

.bodywrapper {
  flex: 1 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
footer {
  flex-shrink: 0;
}
.faq-types dd {
  margin-left: 2rem;
}
.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1rem;
}

.mcr-card-figure {
  object-fit: contain;
  width:100%;
}
.card-deck .card,
.card {
  margin-bottom: 30px;
}
.card.mb-2,
.card.mb-3 {
  margin-bottom: 30px !important;
}

.card-header,
.card-footer {
  background-color: white;
}

.card-footer {
  text-align: right;
}

.result .card-footer {
  text-align: left;
}

.card-footer .btn-outline-primary {
    color: #FFF;
    background-color: #b43092;
    background-image: none;
    border-color: #911C73;
}

.card-header {
  border-bottom: 1px solid #e8e8e8;
}

.mcr-icon-box {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.mcr-icon-box-content {

}
.mcr-icon-box-icon {
  padding-left: 1rem;
  i {
    font-size: 4rem;
    color: $koeln-dark-text
  }
}
.info-button > i {
  color: white;
}

div.is-invalid dropdown.bootstrap-select {
  border-color: #dc3545 !important;
}
div.ubo-person.is-invalid {
  border: 1px #dc3545 solid !important;
}

// TODO: what is the intension of this? clean up!
@media only screen and (min-width : 1200px) {
  .container { width: 1170px; }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  }

  // Medium devices (tablets) and below: <= 992px
  @include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  }

  // Small devices (landscape phones) and below: <= 768px
  @include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
    .mcr-search-form-home label {
      width: 100%;
    }
    .form-inline label {
      justify-content: left;
    }
  }

  // Extra small devices (portrait phones): <= 576px
  @include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  }