
// regarding forms

$form-color: #251e52;
.mycore-form-input, .form-control {
  border-color: $form-color;
  border: 1px solid #ced4da;
  border-radius: .1rem;
}

.form-control:focus, .mycore-form-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #407fdf;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(23,68,136,.6);
}

.form-group>.mycore-form-input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
}

.mycore-form-input.form-control-sm.mr-2 {
  margin-right: 0 !important;
}

.form-control-sm {
    height: calc(1.812rem + 2px);
}

.mycore-form-input + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mycore-form-input + button:not(:last-child) {
    border-radius: 0px;
}

.minus, .up, .down {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.plus {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #B43092 !important;
    border-color: #B43092 !important;
}

.plus:hover {
    background-color: #B43092 !important;
    border-color: #6C6C6C !important;
}

.minus {

}

.minus:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-primary {
    color: #fff;
    background-color: $color-dark-blue;
    border-color: $color-dark-blue;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    border-radius: .1rem;
}

.btn-primary:hover {
    background-color: $color-light-blue;
    border-color: #102e5c;
    color: black;
}

.row .col hr {
  border-top: 0;
}

.bg-card-body1 {
  background-color: $koeln-light-gray;
}

.btn-outline-primary {
  color: $color-dark-blue;
  background-color: transparent;
  background-image: none;
  border-color: $color-dark-blue;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $color-dark-blue;
  border-color: $color-dark-blue;
}


.nameIdentifier {
  @extend .badge, .badge-primary;
  a {
    color: white;
    text-transform: capitalize;
  }
  vertical-align: top;
  margin-right: 0.25rem;
  background-color: #b43092;
  font-size: 70%;
  font-weight: bold;
  padding: 1px 3px;
}

.nameIdentifier:first-child {
  margin-left: 0.25rem;
}

.nameIdentifier:last-child {
  margin-right: 0rem;
}
