/*  _structure-editor.scss
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .ubo-structure {
    &__content {
      color: $body-color;
      background-color: $white;
      border: 1px solid $gray-300;
      border-radius: .25rem;
      padding: 0.5rem;
      margin-top: 0.5rem;
      &--info {
        color: $body-color;
        background-color: $white;
        border-left: solid 1rem #17a2b8;
      }
      &--warning {
        color: $body-color;
        background-color: $white;
        border-left: solid 1rem #ffc107;
      }
      &--success {
        color: $body-color;
        background-color: $white;
        border-left: solid 1rem #28a745;
      }
      .ubo-details {
        border-top: 1px solid $gray-300;
        color: $gray-800;
        background-color: $gray-100;
      }
      .modal-content {
        background: $secondary;
        color: $white;
      }
    }
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
// add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
// add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
// add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
// add/overwrite styles for responsive level xs
}
