$body-bg:  #E8E8E8;

$bg-color-breadcrumb: #174488;

$color-light-blue: #6C6C6C;
$color-dark-blue:  #6C6C6C;
$koeln-light-gray: #f2f2f2;
$koeln-dark-text:  #59595a;
$koeln-red:        #c81e0f;


$badge-font-weight: normal;
//$grid-gutter-width: .75rem;

/* add new/overwrite custom colors */
$theme-colors: (
  alternative: white
);

$primary: #B43092;
$secondary: #ea5a00;

$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1rem;

// accordion indent (for faq)
$uk-acc-indent: 1.8rem;