$body-bg:  #E8E8E8;

$bg-color-breadcrumb: #174488;

$color-light-blue: #6C6C6C;
$color-dark-blue:  #6C6C6C;

$badge-font-weight: normal;

/* add new/overwrite custom colors */
$theme-colors: (
  alternative: #6C6C6C;
);

$link-color: #B43092 ;