$body-bg: white;

$bg-color-breadcrumb: #174488;

$color-light-blue: #2a2a94;
$color-dark-blue:  #2a2a94;

$badge-font-weight: normal;

/* add new/overwrite custom colors */
$theme-colors: (
  alternative: #2a2a94
);